body {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
div{
  position: relative;
}
img{
  width: 400px;
  height: 300px;
  position: relative;
}
@keyframes pulse{
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.5); }
}
@keyframes slidein {
  from {left: 0px;}
  to {left: 400px;}
}
@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes movein {
  0%   {top: 0px;}
  25%  {top: 200px;}
  50%  {top: 100px;}
  75%  {top: 200px;}
  100% {top: 0px;}
}