body{
  background-color: beige;
}


h1{
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;

}
div{
  width: 50%;
  margin-left: 25%;
  margin-top: 40px;
  color: black;
  text-align: center;
}
img{
  border:5px solid black;
  width: 100%;
}